---
import DashbordLayout from '@/layouts/DashboardLayout.astro'
import Input from '@/components/ui/Input.astro'
import { buttonVariants } from '@/components/ui/Button.astro'
import { getProducts } from '@/lib/data'
import { ProductsModel } from '@/models/products'

const { data, error } = await ProductsModel.getAll()
if (error) console.log(error)
console.log('data', data)
const products = await getProducts()
const columns = ['title', 'cost', 'price', 'acciones']
---

<DashbordLayout>
	<header class="flex justify-between">
		<div>
			<Input placeholder="buscar..." type="search" />
		</div>
		<a class={buttonVariants()} href="/dashboard/products/create">+ Crear</a>
	</header>
	<div class="overflow-x-auto w-full">
		<table class={`w-full [&>td]:px-2 []:py-1`}>
			<thead>
				{columns.map((column) => <th>{column}</th>)}
			</thead>
			<tbody>
				{
					products.map((product) => (
						<tr>
							<td>{product.title}</td>
							<td>{product.cost}</td>
							<td>{product.price}</td>
							<td>
								<a href={`/dashboard/products/${product.id}`}>ver</a>
							</td>
						</tr>
					))
				}
			</tbody>
		</table>
	</div>
</DashbordLayout>
<script></script>
