---
import ProductRanking from '@/components/ProductRanking.astro'
import ProductViewer from '@/components/ProductViewer.astro'
import ProductPrice from '@/components/ProductPrice.astro'
import Layout from '@/layouts/Layout.astro'
import { Icon } from 'astro-icon/components'
import { cn } from '@/lib/utils'
import Button, { buttonVariants } from '@/components/ui/Button.astro'
import site from '@/constants/site'
import products from '@/muckup/products.json'

export function getStaticPaths() {
  return products.map((product) => {
    return {
      params: { id: product.id },
      props: { product },
    }
  })
}
// const { id } = Astro.params
const { product } = Astro.props
const { title, images, id, features, details, video } = product
const productUrl = new URL(Astro.url.pathname, Astro.site)
---

<Layout
  title={title}
  description={title}
  image={images[0].url}
  url={productUrl}
>
  <main class='container px-4 mx-auto'>
    <div class='md:hidden'>
      <a
        href='/productos'
        class='inline-flex items-center gap-3 hover:cursor-pointer mt-4'
      >
        <Icon name='tabler:arrow-narrow-left' />
        <span class='text-sm'> Volver </span>
      </a>
    </div>
    <section class='grid md:grid-cols-2 gap-4 md:gap-8'>
      <div class='relative'>
        <div class='sticky top-[calc(4rem+1px)] md:h-[calc(100svh-4.6rem)]'>
          <ProductViewer video={video} id={id} images={images} title={title} />
        </div>
      </div>
      <article class='flex flex-col gap-4 md:mt-4'>
        <!-- Title -->
        <div>
          <h1
            class='text-xl font-semibold'
            transition:name={`product-title-${id}`}
          >
            {product.title}
          </h1>
        </div>

        <!-- Price & Ranking -->
        <div>
          <ProductRanking id={id} size='lg' ranking={product.ranking} />
          <ProductPrice id={id} size='lg' price={product.price} />
        </div>

        <!-- Whatsapp Button -->
        <div>
          <a
            href={`https://wa.me/51${site.phone}?text=Hola,%20estoy%20interesado%20en%20el%20producto%20${title}, este es su enlace ${productUrl}`}
            rel='noopener noreferrer'
            target='_blank'
            class={cn(
              buttonVariants({ variant: 'outline', size: 'lg' }),
              `w-full max-w-sm`,
            )}
          >
            <span>Comprar</span>
            <Icon class='ml-2' name='tabler:brand-whatsapp' size={24} />
          </a>
        </div>

        <!-- Details -->
        <div>
          <table class='w-full'>
            <tbody>
              {
                details &&
                  Object.entries(details).map(([key, value]) => (
                    <tr class='border-b'>
                      <td class='p-2.5'>{key}</td>
                      <td class='p-2.5'>{value}</td>
                    </tr>
                  ))
              }
            </tbody>
          </table>
        </div>

        <!-- Features -->
        <div>
          <h2 class='text-2xl text-yellow font-medium my-4'>
            Sobre el Producto
          </h2>
          <ul class='flex flex-col gap-4'>
            {
              features.map((feature) => (
                <li class='list-disc ml-4'>{feature}</li>
              ))
            }
          </ul>
        </div>
      </article>
    </section>
  </main>
</Layout>
