---
import ProductRanking from '@/components/ProductRanking.astro'
import ProductViewer from '@/components/ProductViewer.astro'
import ProductPrice from '@/components/ProductPrice.astro'
import Layout from '@/layouts/Layout.astro'
import { Icon } from 'astro-icon/components'
import { cn } from '@/lib/utils'
import { type Product } from '@/types'
import Button, { buttonVariants } from '@/components/ui/Button.astro'
import { site } from '@/config'
// import products from '@/muckup/products.json'
import { getProducts } from '@/lib/data'

export async function getStaticPaths() {
	const products = await getProducts()

	return products.map((product) => {
		return {
			params: { slug: product.slug },
			props: { product },
		}
	})
}
// const { id } = Astro.params
export interface Props {
	product: Product
}
const { product } = Astro.props
const { title, assets, id, features, details, tags, stock } = product
const productUrl = new URL(Astro.url.pathname, Astro.site)
---

<Layout {title} description={title} image={new URL(assets[0].url)} url={productUrl}>
	<!-- <div class="md:hidden"> -->
	<!-- 	<a href="/productos" class="inline-flex items-center gap-3 hover:cursor-pointer mt-4"> -->
	<!-- 		<Icon name="tabler:arrow-narrow-left" /> -->
	<!-- 		<span class="text-sm">Volver</span> -->
	<!-- 	</a> -->
	<!-- </div> -->

	<section class="grid grid-cols-1 md:grid-cols-2 gap-6 md:gap-8">
		<article class="relative">
			<div class="md:sticky md:h-svh top-16 left-0">
				<div class="flex items-center md:h-[calc(100%-4rem)]">
					<ProductViewer id={product.id} {assets} {title} />
				</div>
			</div>
		</article>
		<section class="flex flex-col gap-6 overflow-x-hidden">
			<!-- Title -->
			<div class="my-4">
				<h1
					class="text-2xl/snug md:text-3xl/snug font-semibold"
					transition:name={`product-title-${id}`}>
					{product.title}
				</h1>
			</div>

			<!-- Tags -->
			<div class="overflow-x-auto w-full">
				<div class="flex items-center gap-2">
					{
						tags.length > 0 &&
							tags.map((tag) => (
								<div class="flex-shrink-0 bg-black text-white px-2 py-1 rounded-xl">{tag}</div>
							))
					}
				</div>
			</div>

			<!-- Soldout -->
			{
				stock === 0 && (
					<div class="text-red">
						* Este producto ya no está disponible, en proceso de reposición.
					</div>
				)
			}

			<!-- Price & Ranking -->
			<div class="flex flex-col gap-4">
				<ProductRanking {id} size="lg" ranking={product.ranking} />
				<ProductPrice offert={product.offert} {id} size="lg" price={product.price} />
			</div>

			<!-- Whatsapp Button -->
			<div>
				<a
					href={`https://wa.me/51${site.phone}?text=Hola,%20estoy%20interesado%20en%20el%20producto%20${title}, este es su enlace ${productUrl}`}
					rel="noopener noreferrer"
					target="_blank"
					class={cn(buttonVariants({ size: 'lg' }), `w-full `)}>
					<span>Pedidos y Cotizaciones</span>
					<Icon class="ml-2" name="tabler:brand-whatsapp" size={24} />
				</a>
			</div>

			<!-- Details -->

			{
				details && (
					<div>
						<h2 class="text-2xl font-bold mb-4">Detalles</h2>
						<table class="w-full">
							<tbody>
								{Object.entries(details).map(([key, value]) => (
									<tr class="border-b border-foreground/20 last:border-none">
										<td class="p-2.5">{key}</td>
										<td class="p-2.5">{value}</td>
									</tr>
								))}
							</tbody>
						</table>
					</div>
				)
			}

			<!-- Features -->
			{
				features && (
					<div>
						<h2 class="text-2xl font-bold mb-4"> Sobre este artículo </h2>
						<ul class="flex flex-col gap-4">
							{features.length > 0 &&
								features.map((feature) => <li class="list-disc ml-4">{feature}</li>)}
						</ul>
					</div>
				)
			}

			<article class="grid grid-cols-2 gap-4">
				<a
					href="/politicas-de-devolucion "
					class="flex gap-2 items-center bg-foreground/5 p-4 rounded-md cursor-pointer hover:[&_span]:text-indigo-500">
					<Icon size={30} name="tabler:shield-check-filled" />
					<span class="underline">Políticas de Devolución</span>
				</a>

				<a
					href="/preguntas-frecuentes"
					class="flex gap-2 items-center bg-foreground/5 p-4 rounded-md hover:[&_span]:text-indigo-500 cursor-pointer">
					<Icon size={30} name="tabler:help-hexagon-filled" />
					<span class="underline">Preguntas Frecuentes</span>
				</a>
			</article>
		</section>
	</section>
</Layout>
