---
import ProductRanking from '@/components/ProductRanking.astro'
import ProductViewer from '@/components/ProductViewer.astro'
import ProductPrice from '@/components/ProductPrice.astro'
import ProductServices from '@/components/ProductServices.astro'
import Layout from '@/layouts/Layout.astro'
import { Icon } from 'astro-icon/components'
import { cn } from '@/lib/utils'
import { type Product } from '@/types'
import Button from '@/components/ui/Button.astro'
import { site } from '@/config/site'
// import products from '@/muckup/products.json'
import { getProducts } from '@/lib/data'

export async function getStaticPaths() {
	const products = await getProducts()

	return products.map((product) => {
		return {
			params: { slug: product.slug },
			props: { product },
		}
	})
}
// const { id } = Astro.params
export interface Props {
	product: Product
}
const { product } = Astro.props
const { title, assets, id, features, details, tags, stock } = product
const productUrl = new URL(Astro.url.pathname, Astro.site)
---

<Layout {title} description={title} image={new URL(assets[0].url)} url={productUrl} showSearchbar>
	<!-- <div class="md:hidden"> -->
	<!-- 	<a href="/productos" class="inline-flex items-center gap-3 hover:cursor-pointer mt-4"> -->
	<!-- 		<Icon name="tabler:arrow-narrow-left" /> -->
	<!-- 		<span class="text-sm">Volver</span> -->
	<!-- 	</a> -->
	<!-- </div> -->

	<section class="grid grid-cols-1 md:grid-cols-2 gap-6 md:gap-8">
		<article class="relative">
			<div class="md:sticky md:h-svh top-16 left-0">
				<div class="flex items-center md:h-[calc(100%-4rem)]">
					<ProductViewer id={product.id} {assets} {title} />
				</div>
			</div>
		</article>
		<section class="flex flex-col gap-6 overflow-x-hidden">
			<!-- Title -->
			<div class="my-4">
				<h1
					class="text-2xl/snug md:text-3xl/snug font-semibold"
					transition:name={`product-title-${id}`}>
					{product.title}
				</h1>
			</div>

			<!-- Tags -->
			<div class="w-full">
				<div class="flex flex-wrap items-center gap-1">
					{
						tags.length > 0 &&
							tags.map((tag) => {
								// const getRandomColor = (max: number, min: number) =>
								// 	Math.floor(Math.random() * (max - min) + min)
								// const randomColor = getRandomColor(360, 0)

								return (
									<small class="flex-shrink-0 text-sm bg-muted text-muted-foreground  px-2 py-0.5 rounded-md shadow-sm">
										{tag}
									</small>
								)
							})
					}
				</div>
			</div>

			<!-- Soldout -->
			{
				stock === 0 && (
					<div class="text-red">
						* Este producto ya no está disponible, en proceso de reposición.
					</div>
				)
			}

			<!-- Price & Ranking -->
			<div class="flex flex-col gap-4">
				<div class="flex gap-2 items-center">
					<ProductRanking {id} size="lg" ranking={product.ranking} />
					<span class="ml-1 hidden md:block">Valoración ({product.ranking}/5)</span>
				</div>
				<ProductPrice offert={product.offert} {id} size="lg" price={product.price} />
			</div>

			<!-- Whatsapp Button -->
			<div>
				<Button
					href={`https://wa.me/51${site.phone}?text=Hola,%20estoy%20interesado%20en%20el%20producto%20${title}, este es su enlace ${productUrl}`}
					rel="noopener noreferrer"
					class="w-[98%] bg-green/20 hover:bg-green/30"
					target="_blank">
					<span>Pedidos y Cotizaciones</span>
					<Icon class="ml-2" name="whatsapp" size={24} />
				</Button>
			</div>

			<!-- K2 pro -->
			{
				product.id === '8e9d851d-9712-4372-8bfd-b1c6daadbf87' && (
					<video
						src="https://cdn.shopify.com/videos/c/o/v/baf4999ea66f4bea98ff9afccf08cec4.mp4"
						autoplay
						controlslist="nodownload"
						loop
						disablepictureinpicture
						muted
					/>
				)
			}
			<!-- K3 v2 -->
			{
				product.id === '5d652261-2ad5-4ba1-8091-8e43a23bed35' && (
					<video
						src="https://cdn.shopify.com/videos/c/o/v/53b7731b1ffe48d4ae964384a981026b.mp4"
						autoplay
						controlslist="nodownload"
						loop
						disablepictureinpicture
						muted
					/>
				)
			}
			<!-- K3 pro -->
			{
				product.id === '195df8fa-582c-4cd4-9277-f4b4d41fa953' && (
					<video
						src="https://cdn.shopify.com/videos/c/o/v/1badc26cb0bf43f093e23188e846ea5b.mp4"
						autoplay
						controlslist="nodownload"
						loop
						disablepictureinpicture
						muted
					/>
				)
			}
			<!-- Details -->
			{
				details && (
					<div>
						<h2 class="text-2xl font-bold mb-4">Características</h2>
						<table class="w-full">
							<tbody>
								{Object.entries(details).map(([key, value]) => (
									<tr class="border-b border-foreground/20 last:border-none">
										<td class="p-2.5">{key}</td>
										<td class="p-2.5">{value}</td>
									</tr>
								))}
							</tbody>
						</table>
					</div>
				)
			}

			<!-- Features -->
			{
				features && (
					<div>
						<h2 class="text-2xl font-bold mb-4"> Sobre este artículo </h2>
						<ul class="flex flex-col gap-4">
							{features.length > 0 &&
								features.map((feature) => <li class="list-disc ml-4">{feature}</li>)}
						</ul>
					</div>
				)
			}

			<ProductServices />
			<article class="grid grid-cols-2 gap-4">
				<a
					href="/politicas-de-devolucion "
					class="flex gap-2 items-center bg-foreground/5 p-4 rounded-md cursor-pointer hover:text-indigo-500 leading-tight">
					<Icon size={30} name="tabler:shield-check-filled" />
					<span class="underline">Políticas de Devolución</span>
				</a>

				<a
					href="/preguntas-frecuentes"
					class="flex gap-2 items-center bg-foreground/5 p-4 rounded-md hover:text-indigo-500 cursor-pointer leading-tight">
					<Icon size={30} name="tabler:help-hexagon-filled" />
					<span class="underline">Preguntas Frecuentes</span>
				</a>
			</article>
		</section>
	</section>
</Layout>
