---
import Container from '@/components/Container.astro'
import { getProducts } from '@/lib/data'
const { data: products, error } = await ProductsModel.getAll()

if (error) throw error

//TODO: implment recents products
const lastedProducts = products
	.filter((p) => p.tags.includes('TOYS'))
	.sort((a, b) => a.price - b.price)
	.slice(0, 8)

import ProductCard from '../ProductCard.astro'
import { ProductsModel } from '@/models/products'
---

<section>
	<Container>
		<div>
			<p class="text-md md:text-lg text-center uppercase">
				Conoce las novedades en juguetería didáctica
			</p>
			<h2 class="text-3xl sm:text-3xl md:text-4xl font-extrabold text-center mb-8">
				Nuevos Jueguetes en Neystore
			</h2>
		</div>
		<div class="overflow-x-auto overflow-y-hidden">
			<ul class="flex gap-4 flex-row">
				{
					lastedProducts.map((product) => (
						<li class="min-w-[160px] w-[160px]">
							<ProductCard
								stock={product.stock}
								id={product.id}
								title={product.title}
								price={product.price}
								imgUrl={product.assets[0].smallUrl}
								ranking={product.ranking}
								slug={product.slug}
							/>
						</li>
					))
				}
			</ul>
		</div>
	</Container>
</section>
