---
import Container from '@/components/Container.astro'
import { ProductsModel } from '@/models/products'
import { getProducts } from '@/lib/data'
const { data: products, error } = await ProductsModel.getAll()

if (error) throw error

//TODO: implment recents products
const lastedProducts = products.filter((p) => p.offert && p.stock !== 0).slice(0, 8)

import ProductCard from '../ProductCard.astro'
---

<section>
	<Container>
		<div>
			<p class="text-md md:text-lg text-center uppercase">Aprovecha nuestras ofertas</p>
			<h2 class="text-3xl sm:text-3xl md:text-4xl font-extrabold text-center mb-8">
				Ofertas en Neystore
			</h2>
		</div>
		<div class="overflow-x-auto overflow-y-hidden">
			<ul class="grid grid-cols-[repeat(auto-fill,minmax(180px,1fr))] gap-2">
				{
					lastedProducts.map((product) => (
						<li class="">
							<ProductCard
								stock={product.stock}
								offert={product.offert}
								id={product.id}
								title={product.title}
								price={product.price}
								imgUrl={product.assets[0].smallUrl}
								ranking={product.ranking}
								slug={product.slug}
							/>
						</li>
					))
				}
			</ul>
		</div>
	</Container>
</section>
