---
const currentYear = new Date().getFullYear()
import Container from './Container.astro'
import { site } from '@/config'
import { Icon } from 'astro-icon/components'
---

<footer>
	<Container>
		<article class="grid grid-cols-1 gap-4 md:grid-cols-3 py-8">
			<div class="flex flex-col gap-4">
				<div>
					<h3 class="text-base font-bold mb-2">Entrega</h3>
					<p>Delivery en Lima y envíos por agencia sugeridad a nivel nacional</p>
				</div>
				<div>
					<h3 class="text-base font-bold mb-2">Dirección</h3>
					<p>{site.address}</p>
				</div>
			</div>
			<div class="flex flex-col gap-4">
				<div>
					<h3 class="text-base font-bold mb-2">Contatenos</h3>
					<p class="mb-2">{site.email}</p>
					<p>+51 {site.phone}</p>
				</div>
				<div>
					<h3 class="text-base font-bold mb-2">Horario de Atencion</h3>
					<p>Lunes a Sábado de 10:00AM - 07:00PM</p>
				</div>
			</div>
			<div class="flex flex-col gap-4">
				<div>
					<h3 class="text-base font-bold mb-2">Aceptamos</h3>
					<img src="/assets/images/pay-methods.webp" />
				</div>
				<div>
					<h3 class="text-base font-bold mb-2">Redes Sociales</h3>
					<div class="flex items-center gap-4">
						{
							Object.entries(site.socialLinks).map(([key, value]) => {
								return (
									<a href={value} class="inline">
										<Icon name={`tabler:brand-${key}`} size={25} />
									</a>
								)
							})
						}
					</div>
				</div>
			</div>
		</article>
		<aricle class="">
			<div class="container flex flex-col items-center justify-center mb-8">
				<p class="text-center mt-4 text-sm">
					©{currentYear}&nbsp;{site.name}.
				</p>
				<p class="text-sm text-center">
					<br class="sm:hidden" /> Hecho con mucho <span class="text-red">❤️</span>
				</p>
			</div>
		</aricle>
	</Container>
</footer>
