---
import Logo from '@/components/Logo.astro'
import Container from './Container.astro'
import Separator from '@/components/ui/Separator.astro'
import { Icon } from 'astro-icon/components'
import { cn } from '@/lib/utils'
import site from '@/constants/site'
const socialLinks = Object.entries(site.socialLinks)

const pathname = Astro.url.pathname

const normalizedPathName = pathname.length > 1 && pathname.endsWith('/') ? pathname.slice(0, -1) : pathname

const pages = [
  {
    title: 'Inicio',
    href: '/',
    active: pathname === '/',
    noReload: true,
  },
  {
    title: 'Productos',
    href: '/productos',
    active: normalizedPathName.startsWith('/productos'),
  },
  {
    title: 'Contacto',
    href: '/contacto',
    active: pathname === '/contacto',
  },
]

// <!--
// class='sticky z-50 top-0 left-0 h-[64px] bg-background/50 backdrop-blur-md saturate-150'
// -->
---

<header
  id="main-header"
  data-state="closed"
  class="sticky z-50 top-0 left-0 backdrop-blur-xl backdrop-saturate-200 data-[scroll]:shadow-sm">
  <Container>
    <div class="flex h-full items-center justify-between">
      <a
        href="/"
        data-astro-reload>
        <Logo />
      </a>

      <!-- Desktop Nav -->
      <nav class="hidden lg:flex gap-4 items-center">
        {
          pages.map((page) => (
            <a
              href={page.href}
              data-astro-reload
              class={cn(
                'flex justify-center items-center  hover:text-primary ',
                page.active && 'text-primary font-bold',
              )}>
              <span class="">{page.title}</span>
            </a>
          ))
        }
      </nav>
      <div class="hidden lg:flex justify-center items-center">
        {
          socialLinks.map(([name, link]) => (
            <a
              class="hover:text-primary"
              href={link}
              rel="noopener noreferrer"
              target="_blank">
              <Icon
                name={`tabler:brand-${name}`}
                size={25}
              />
            </a>
          ))
        }
      </div>
      <aside
        id="mobile-menu"
        class={`fixed z-50 left-0 top-[calc(4rem+1px)] bg-background 
w-screen h-[calc(100svh-4rem)] justify-center flex
transition duration-300 -translate-x-full invisible
lg:hidden
`}>
        <!-- Mobile Nav -->
        <nav class="flex flex-col w-full px-10 pt-4">
          {
            pages.map((item) => (
              <a
                href={item.href}
                data-astro-reload
                class={cn(
                  'flex justify-center flex-col items-center h-16 w-full hover:text-primary border-b border-b-foreground/20',
                  item.active && 'text-primary font-bold',
                )}>
                <span class="">{item.title}</span>
              </a>
            ))
          }

          <div class="border-b h-16 flex items-center justify-center border-b-foreground/20">
            <a
              href={`tel:+51${site.phone}`}
              class="flex items-center">
              <Icon
                class="mr-2"
                name="tabler:phone"
              />
              {site.phone}
            </a>
          </div>
          <div class="flex justify-center">
            <div class="flex items-center mt-4">
              {
                socialLinks.map(([name, link]) => (
                  <a
                    class="hover:text-primary"
                    href={link}
                    rel="noopener noreferrer"
                    target="_blank">
                    <Icon
                      name={`tabler:brand-${name}`}
                      size={25}
                    />
                  </a>
                ))
              }
            </div>
          </div>
        </nav>
      </aside>
      <div class="lg:hidden">
        <button
          id="burger-button"
          class="transition flex items-center"
          aria-label="menu mobile">
          <Icon
            name="tabler:menu"
            size={25}
          />
          <Icon
            name="tabler:x"
            size={25}
          />
        </button>
      </div>
    </div>
  </Container>
</header>

<script>
  document.addEventListener('astro:page-load', () => {
    const $header = document.querySelector('#main-header') as HTMLDivElement
    const $burgerBtn = $header.querySelector('#burger-button') as HTMLButtonElement

    $burgerBtn.addEventListener('click', () => {
      const isOpen = $header.getAttribute('data-state') !== 'open'
      $header.setAttribute('data-state', isOpen ? 'open' : 'closed')
      document.body.toggleAttribute('data-mobile-menu-expanded', isOpen)
    })

    //animation on scroll
    window.addEventListener('scroll', () => {
      if (window.scrollY > 64) {
        $header.setAttribute('data-scroll', 'active')
      } else {
        $header.removeAttribute('data-scroll')
      }
    })
  })
</script>
<style>
  [data-state='open'] #mobile-menu {
    transform: translateX(0);
    visibility: visible;
  }
  [data-state='closed'] [data-icon='tabler:x'] {
    display: none;
  }

  [data-state='open'] [data-icon='tabler:menu'] {
    display: none;
  }

  [data-state='open'] button {
    transform: rotate(90deg);
  }
  :global([data-mobile-menu-expanded]) {
    overflow-y: hidden;
  }
</style>
