---
import '@fontsource/poppins/300.css'
import '@fontsource/poppins/400.css'
import '@fontsource/poppins/700.css'
import { ViewTransitions } from 'astro:transitions'
import site from '@/constants/site'

export interface Props {
	title: string
	description: string
	image: URL
	url: URL
}

const { title, description, url, image } = Astro.props

const subtitle = 'NeyStore'
---

<!-- general meta -->
<meta
	name="title"
	content={`${title} - ${subtitle}`}
/>
<meta
	name="description"
	content={description}
/>
<!-- <meta name="author" content={author} /> -->

<!-- open graph -->
<meta
	property="og:title"
	content={`${title} - ${subtitle}`}
/>
<meta
	property="og:description"
	content={description}
/>
<meta
	property="og:type"
	content="website"
/>
<meta
	property="og:url"
	content={new URL(site.url, url)}
/>
<meta
	property="og:image"
	content={image}
/>

<!-- twitter card -->

<!-- page title -->
<title>{title} - {subtitle}</title>

<ViewTransitions />
