---
// <div className='relative'>
//       {/* Wrapper */}
//       <div className='overflow-hidden' ref={embleRef}>
//         {/* Container */}
//         <div className='flex touch-pan-y '>
//           {images.map((image, index) => (
//             <div className='min-w-0 shrink-0 grow-0 basis-full' key={index}>
//               <picture>
//                 <source
//                   srcSet={image.desktop}
//                   media='(min-width: 720px)'
//                 >
//                 </source>
//                 <img src={image.mobile} />
//               </picture>
//             </div>
//           ))}
//         </div>
//         <div className='flex absolute bottom-2 left-1/2 gap-2'>
//           {scrollSnaps.map((_, index) => (
//             <div
//               onClick={() => scrollTo(index)}
//               className={cn(
//                 'pointer  w-2 touch-manipulation h-2 rounded-full border border-white/50 bg-white/50',
//                 selectedIndex === index
//                   ? 'bg-white border-white'
//                   : '',
//               )}
//               key={index}
//             />
//           ))}
//         </div>
//       </div>
//     </div>
---

<section class="embla relative">
	<div class="embla__viewport overflow-x-hidden">
		<div class="embla__container flex">
			<div class="embla__slide flex-[0_0_100%] min-w-0">
				<picture>
					<source
						srcset="/assets/images/banner-tecnologia-desktop.avif"
						media="(min-width: 720px)"
					/>
					<img src="/assets/images/banner-tecnologia-mobile.avif" />
				</picture>
			</div>
			<div class="embla__slide flex-[0_0_100%] min-w-0">
				<picture>
					<source
						srcset="/assets/images/banner-juguetes-desktop.avif"
						media="(min-width: 720px)"
					/>
					<img src="/assets/images/banner-juguetes-mobile.avif" />
				</picture>
			</div>
		</div>
	</div>
</section>
<!--
<div class="embla__controls">
  <div class="embla__buttons">
    <button class="embla__button embla__button--prev" type="button">
      <svg class="embla__button__svg" viewBox="0 0 532 532">
        <path
          fill="currentColor"
          d="M355.66 11.354c13.793-13.805 36.208-13.805 50.001 0 13.785 13.804 13.785 36.238 0 50.034L201.22 266l204.442 204.61c13.785 13.805 13.785 36.239 0 50.044-13.793 13.796-36.208 13.796-50.002 0a5994246.277 5994246.277 0 0 0-229.332-229.454 35.065 35.065 0 0 1-10.326-25.126c0-9.2 3.393-18.26 10.326-25.2C172.192 194.973 332.731 34.31 355.66 11.354Z"
        ></path>
      </svg>
    </button>

    <button class="embla__button embla__button--next" type="button">
      <svg class="embla__button__svg" viewBox="0 0 532 532">
        <path
          fill="currentColor"
          d="M176.34 520.646c-13.793 13.805-36.208 13.805-50.001 0-13.785-13.804-13.785-36.238 0-50.034L330.78 266 126.34 61.391c-13.785-13.805-13.785-36.239 0-50.044 13.793-13.796 36.208-13.796 50.002 0 22.928 22.947 206.395 206.507 229.332 229.454a35.065 35.065 0 0 1 10.326 25.126c0 9.2-3.393 18.26-10.326 25.2-45.865 45.901-206.404 206.564-229.332 229.52Z"
        ></path>
      </svg>
    </button>
  </div>

  <div class="embla__dots"></div>
  -->

<script>
	import EmblaCarousel, { type EmblaOptionsType } from 'embla-carousel'
	import AutoPlay from 'embla-carousel-autoplay'

	const OPTIONS: EmblaOptionsType = {
		loop: true,
	}

	const plugins = [AutoPlay({ delay: 5000 })]

	const emblaNode = document.querySelector('.embla')!
	const viewportNode = emblaNode.querySelector('.embla__viewport') as HTMLElement
	// const prevBtnNode = emblaNode.querySelector('.embla__button--prev')!
	// const nextBtnNode = emblaNode.querySelector('.embla__button--next')!
	// const dotsNode = emblaNode.querySelector('.embla__dots')!

	EmblaCarousel(viewportNode, OPTIONS, plugins)

	// const removePrevNextBtnsClickHandlers = addPrevNextBtnsClickHandlers(
	//   prevBtnNode,
	//   nextBtnNode,
	//   emblaApi,
	// )
	// const removeDotBtnsAndClickHandlers = addDotBtnsAndClickHandlers(
	//   emblaApi,
	//   dotsNode,
	// )

	// emblaApi.on('destroy', removePrevNextBtnsClickHandlers)
	// emblaApi.on('destroy', removeDotBtnsAndClickHandlers)
</script>
