---
import ProductPrice from "./ProductPrice.astro";
import ProductRanking from "./ProductRanking.astro";
import { slugify } from "@/lib/utils/string";

interface Props {
  id: string;
  title: string;
  price: number;
  imgUrl: string;
  ranking: number;
  slug: string;
}

const { title, price, imgUrl, ranking, id, slug } = Astro.props;
---

<a
  href={`/productos/${slug}`}
  class="p-3 hover:scale-105 transition-transform ease-in-out duration-300 overflow-hidden rounded-md shadow-sm"
>
  <!-- {/* Image Card */ -->
  <div class="h-0 pb-[100%] relative mb-2.5 rounded-md">
    <img
      transition:name={`product-image-${id}`}
      width={160}
      height={160}
      src={imgUrl}
      alt={title}
      class="absolute inset-0 z-10 object-contain w-full h-full p-2"
    />
    <div class="absolute inset-0 w-full bg-[#fff] rounded-md"></div>
  </div>
  <!-- {/* Info Card */} -->
  <div class="flex flex-col gap-1">
    <!-- {/* Title */} -->
    <div>
      <p transition:name={`product-title-${id}`} class="text-truncate">
        {title}
      </p>
    </div>

    <ProductRanking {id} {ranking} />

    <ProductPrice {id} {price} />
  </div>
</a>
