---
import { cn } from '@/lib/utils'
import ProductVideoDialog from '@/components/ProductVideoDialog.astro'
interface Props {
  images: { url: string; thumb: string }[]
  id: string
  title: string
  video?: {
    url: string
    title: string
    cover: string
  }
}

const { images, id, title, video } = Astro.props
---

<article class="flex flex-col justify-center relative gap-4 h-full">
  {/* Main */}
  <div
    id="main-image"
    class="w-full flex items-center justify-center bg-white rounded-md h-[90%]"
  >
    <div class="size-[320px] md:w-full md:h-full p-2 md:p-4">
      <img
        transition:name={`product-image-${id}`}
        class="w-full h-full object-contain"
        src={images[0].url}
        alt={title}
      />
    </div>
  </div>

  {/* Thumbs */}
  <div class="overflow-hidden h-[10%]">
    {/* Container */}
    <ul id="thumb-list" class="flex gap-1">
      {
        images.slice(0, 5).map((img, index) => {
          return (
            <li
              data-thumb-active={index === 0}
              data-large-url={img.url}
              class={`thumb-item border-2 border-transparent opacity-50 
              data-[thumb-active]:border-primary data-[thumb-active]:opacity-100 `}
            >
              <div class=" size-[55px]">
                <img class="w-full h-full object-contain" src={img.thumb} />
              </div>
            </li>
          )
        })
      }

      {video?.url && <ProductVideoDialog video={video} />}
    </ul>
  </div>
</article>
<script>
  document.addEventListener('astro:page-load', () => {
    const $thumbsList = document.querySelectorAll('.thumb-item')!
    const $mainImage = document.querySelector('#main-image img')!
    $thumbsList.forEach((item) => {
      item.addEventListener('click', () => {
        //Remove active  all items
        $thumbsList.forEach((item) => item.removeAttribute('data-thumb-active'))
        //Add active to current item
        item.toggleAttribute('data-thumb-active')

        //get image Src
        const src = item.getAttribute('data-large-url')!

        //update image
        $mainImage.setAttribute('src', src)
      })
    })
  })
</script>
