---
import ProductPrice from './ProductPrice.astro'
import ProductRanking from './ProductRanking.astro'

interface Props {
	id: string
	title: string
	price: number
	imgUrl: string
	ranking: number
	slug: string
	offert?: number
}

const { title, price, imgUrl, ranking, id, slug, offert } = Astro.props
---

<a
	href={`/productos/${slug}`}
	class="p-3 hover:scale-105 transition-transform ease-in-out duration-300 overflow-hidden rounded-md shadow-sm">
	<!-- {/* Image Card */ -->
	<div class="h-0 pb-[100%] relative mb-2.5 rounded-md">
		{
			offert && (
				<span class="bg-primary w-[150px] text-center text-white px-1 py-0.5 absolute top-0 -left-16 z-20 -rotate-45 font-bold uppercase">
					Oferta
				</span>
			)
		}
		<img
			transition:name={`product-image-${id}`}
			width={160}
			height={160}
			src={imgUrl}
			alt={title}
			class="absolute inset-0 z-10 object-contain w-full h-full p-2"
		/>
		<div class="absolute inset-0 w-full bg- rounded-md"></div>
	</div>
	<!-- {/* Info Card */} -->
	<div class="flex flex-col gap-1">
		<!-- {/* Title */} -->
		<div>
			<p transition:name={`product-title-${id}`} class="text-truncate">
				{title}
			</p>
		</div>

		<ProductRanking {id} {ranking} />

		<ProductPrice {offert} {id} {price} />
	</div>
</a>
