---
import ProductCard from '@/components/ProductCard.astro'
import { getProducts } from '@/lib/data'
import ProductCategories from '@/components/ProductCategories.astro'
import { Icon } from 'astro-icon/components'

const categories = [
	{
		title: 'Teclados',
	},
	{
		title: 'Tecnologia',
	},
	{
		title: 'Montessori',
	},
	{
		title: 'Sensorial',
	},
	{
		title: 'Psicomotricidad',
	},
	{
		title: 'Lenguaje',
	},
]

const url = new URL(Astro.request.url)
const category = url.searchParams.get('category') || ''
const products = await getProducts(category)
---

<div class="">
	<ProductCategories {categories} {url} />
	<div class="grid gap-4 lg:grid-cols-[200px_1fr]">
		<aside class="filter-side hidden lg:block">
			<div class="filter w-[200px] h-[800px]">
				<div
					class="flex items-center justify-between border-2 shadow-[0_3px_0_0_currentcolor] py-1.5 rounded-md px-2">
					<h2 class="font-bold uppercase">Categorias</h2>
					<Icon name="tabler:chevron-down" />
				</div>
				<ul>
					{
						categories &&
							categories.length > 0 &&
							categories.map((c) => {
								const href = `/productos?category=${c.title}`
								const active = url.toString().endsWith(href)
								return (
									<li class="py-1.5 px-2">
										<a
											class:list={['cursor-pointer hover:font-bold', { 'font-bold': active }]}
											href={href}>
											{c.title}
										</a>
									</li>
								)
							})
					}
				</ul>
			</div>
		</aside>
		<!-- Maiin Section -->
		<section class="mt-4">
			<ul class="grid grid-cols-[repeat(auto-fill,minmax(180px,1fr))] gap-2">
				{
					products &&
						products.length > 0 &&
						products
							.sort((a, b) => b.category.localeCompare(a.category))
							.map((product) => (
								<li>
									<ProductCard
										stock={product.stock}
										id={product.id}
										title={product.title}
										price={product.price}
										imgUrl={product.assets[0].smallUrl}
										ranking={product.ranking}
										slug={product.slug}
										offert={product.offert}
									/>
								</li>
							))
				}
			</ul>
		</section>
	</div>
</div>
