---
import { cn } from '@/lib/utils'
import ProductVideoDialog from '@/components/ProductVideoDialog.astro'
import ProductShareButton from '@/components/ProductShareButton.astro'
interface Props {
  images: { url: string; thumb: string }[]
  id: string
  title: string
  video?: {
    url: string
    title: string
    cover: string
  } | null
}

const { images, id, title, video } = Astro.props
---

<article class='image-view-wrap'>
  {/* Main */}
  <div
    id='main-image'
    class='image-view--previewWrap relative rounded-md overflow-hidden'>
    <div class='absolute top-2 right-2 z-10'>
      <ProductShareButton />
    </div>
    <div class='image-view--previewBox absolute left-0 top-0 w-full h-full'>
      <div class='maginifier--wrap w-full h-full'>
        <img
          transition:name={`product-image-${id}`}
          class='magnifier-image max-w-full max-h-full w-full h-full object-cover'
          src={images[0].url}
          alt={title}
        />
      </div>
    </div>
    <div class='image-view--previewCover pt-[100%]'> </div>
  </div>

  {/* Thumbs */}
  <div class='slider-wrap mt-4'>
    {/* Container */}
    <ul
      id='thumb-list'
      class='flex gap-1 w-[380px] md:w-full overflow-x-auto'>
      {
        images.slice(0, 8).map((img, index) => {
          return (
            <li
              data-thumb-active={index === 0}
              data-large-url={img.url}
              class={`thumb-item border-2 border-transparent opacity-50 
              data-[thumb-active]:border-primary data-[thumb-active]:opacity-100 `}>
              <div class=' size-[55px] bg-white'>
                <img
                  class='w-full h-full object-contain'
                  src={img.thumb}
                />
              </div>
            </li>
          )
        })
      }

      {video?.url && <ProductVideoDialog video={video} />}
    </ul>
  </div>
</article>
<script>
  document.addEventListener('astro:page-load', () => {
    const $thumbsList = document.querySelectorAll('.thumb-item')!
    const $mainImage = document.querySelector('#main-image img')!
    $thumbsList.forEach((item) => {
      item.addEventListener('click', () => {
        //Remove active  all items
        $thumbsList.forEach((item) => item.removeAttribute('data-thumb-active'))
        //Add active to current item
        item.toggleAttribute('data-thumb-active')

        //get image Src
        const src = item.getAttribute('data-large-url')!

        //update image
        $mainImage.setAttribute('src', src)
      })
    })
  })
</script>
