---
import { Icon } from 'astro-icon/components'
import { getProducts } from '@/lib/data'
import Container from './Container.astro'
const products = await getProducts()
const results = products.slice(5)
---

<div class="min-w-[200px] px-2 flex items-center">
	<button
		id="open-search-dialog"
		class="flex flex-1 items-center gap-2 rounded-md px-2 py-1 bg-muted">
		<span class="text-muted-foreground flex-1">Buscar...</span>
		<span class="hidden">Producto...</span>
		<span class="text-muted-foreground">
			<Icon class="" name="tabler:search" size={22} />
		</span>
	</button>
</div>
<!-- <div class="bg-background"> --><!-- 	<Container> --><!-- 		<div class="h-[var(--search-height)] max-w-md mx-auto px-2 flex items-center mt-16"> --><!-- 			<button --><!-- 				id="open-search-dialog" --><!-- 				class="flex flex-1 items-center gap-2 rounded-md px-2 py-1 bg-gray-200"> --><!-- 				<span class="ml-4 text-muted flex-1">Buscar producto...</span> --><!-- 				<span class="text-muted"> --><!-- 					<Icon class="" name="tabler:search" size={22} /> --><!-- 				</span> --><!-- 			</button> --><!-- 		</div> --><!-- 	</Container> --><!-- </div> -->
<dialog
	data-products={JSON.stringify(products)}
	id="search-dialog"
	class="absolute lg:fixed h-[100dvh] w-screen top-0 left-0 z-40 bg-white/80 backdrop-blur"
	tabindex="0">
	<!-- Modal -->
	<div
		class="search-modal rounded-md mx-auto h-full lg:h-auto bg-background text-foreground overflow-hidden shadow-lg">
		<!-- SearchBox -->
		<header class="searchbox bg-background px-2 flex items-center">
			<button id="close-dialog-button" aria-label="Cerrar dialogo" class="px-2">
				<Icon size={22} name="tabler:chevron-left" />
			</button>
			<div
				class="flex flex-1 items-center gap-2 rounded-md py-1 px-2 bg-muted text-muted-foreground">
				<input
					autofocus
					class="bg-transparent w-full border-none outline-none placeholder:text-muted"
					id="search-input"
					type="search"
					name="search-product"
					placeholder="Que esta buscando?"
				/>
				<Icon class="text-muted-foreground" name="tabler:search" size={22} />
			</div>
		</header>
		<!-- Results -->
		<div class="search-dropdown max-h-[calc(100vh-var(--searchbox-height)] px-2 overflow-y-auto">
			<ul id="results" class="flex flex-col gap-2">
				{
					results.map((prod) => {
						return (
							<li>
								<a
									href={`/productos/${prod.slug}`}
									class="flex gap-2 items-center h-20 hover:bg-zinc-200 p-2 md:p-6 cursor-pointer">
									<div class="min-w-[64px] size-16 bg-white rounded-md overflow-hidden">
										<img class="w-full h-full object-contain" src={prod.assets[0].thumbUrl} />
									</div>
									<div class="text-truncate">
										<span>{prod.title}</span>
									</div>
								</a>
							</li>
						)
					})
				}
			</ul>
		</div>
	</div>
</dialog>
<style>
	dialog {
		--searchbox-height: var(--search-height);
		--search-spacing: 12px;
		--modal-width: 560px;
	}

	dialog::backdrop {
		background: oklch(100% 0 0 /0.2);
		backdrop-filter: blur(8px);
	}

	.searchbox {
		height: var(--searchbox-height);
	}

	.search-modal {
	}

	.search-dropdown {
		height: 100%;
		max-height: calc(100vh - var(--searchbox-height));
	}

	@media (width > 64rem) {
		.search-dropdown {
			max-height: 600px;
		}

		.search-modal {
			width: var(--modal-width);
			margin: 56px auto auto;
		}
	}
</style>
<script>
	// TODO: implementar debounce search
	// TODO: mejorar legibilidad
	import Fuse from 'fuse.js'
	// document.addEventListener('astro:page-load', async () => {
	const searchDialogEl = document.querySelector('#search-dialog') as HTMLDialogElement
	const resultsEl = searchDialogEl.querySelector('#results') as HTMLUListElement
	const openSearchDialogEl = document.querySelector('#open-search-dialog') as HTMLButtonElement
	const searchInput = searchDialogEl.querySelector('#search-input') as HTMLInputElement
	const closeDialogButton = searchDialogEl.querySelector(
		'#close-dialog-button'
	) as HTMLButtonElement

	const products = JSON.parse(searchDialogEl.getAttribute('data-products')!)

	let FUSE_INSTANCE: Fuse<typeof products>

	openSearchDialogEl.addEventListener('click', () => {
		document.body.style.overflowY = 'hidden'
		console.log('abre')
		searchDialogEl.showModal()
	})

	searchDialogEl.addEventListener('click', (event) => {
		if (event.currentTarget !== event.target) {
			return
		}

		document.body.style.overflowY = 'auto'
		searchDialogEl.close()
	})

	closeDialogButton.addEventListener('click', () => {
		document.body.style.overflowY = 'auto'
		searchDialogEl.close()
	})

	const INIT_RESULTS = products
		.map((prod) => {
			return `
<li>
<a
href="{/productos/${prod.slug}"
class="flex gap-2 items-center h-20 hover:bg-neutral-100 p-2 md:p-6 cursor-pointer">
<div class="min-w-[64px] size-16 bg-white rounded-md overflow-hidden">
<img class="w-full h-full object-contain" src="${prod.assets[0].thumbUrl}" />
</div>
<div class="text-truncate">
<span>${prod.title}</span>
</div>
</a>
</li>
`
		})
		.join('')

	searchInput.addEventListener('input', (event) => {
		if (!FUSE_INSTANCE) {
			FUSE_INSTANCE = new Fuse(products, {
				keys: ['title', 'category'],
			})
		}

		const searchValue = event.target.value!

		const results = FUSE_INSTANCE.search(searchValue)

		resultsEl.innerHTML =
			results.length <= 0
				? INIT_RESULTS
				: results
						.map(
							(prod) =>
								`<li>
								<a
									href="/productos/${prod.item.slug}"
									class="flex gap-2 items-center h-20 hover:bg-neutral-200 p-2 md:p-6 cursor-pointer">
									<div class="min-w-[64px] size-16 rounded-md overflow-hidden bg-white">
										<img class="w-full h-full object-contain" src="${prod.item.assets[0].thumbUrl}" />
									</div>
									<div class="text-truncate">
										<span>${prod.item.title}</span>
									</div>
								</a>
      </li>
`
						)
						.join('')
	})

	// })
</script>
