---
import { cn, formatedToLocal } from '@/lib/utils'

interface Props {
	price: number
	offert?: number | null
	size?: 'md' | 'lg'
	id: string
}

const { price, size = 'md', id, offert } = Astro.props
const formatedPrice = formatedToLocal(price)

const porcent = offert ? ((price - offert) / price) * 100 : 0

// <span
// 	transition:name={`product-price-${id}`}
// 	class={cn('algin-top font-bold', size === 'lg' ? 'text-5xl' : 'text-xl')}>
// 	{offert ? formatedToLocal(offert) : formatedPrice}
// </span>
// {
// 	offert && (
// 		<span class={cn('line-through text-neutral-500', size == 'lg' ? 'text-2xl' : 'text-sm')}>
// 			{formatedToLocal(price)}
// 		</span>
// 	)
// }
---

<>
	{
		offert ? (
			<>
				<span
					class:list={[
						'bg-red text-white  rounded-md  text-center uppercase text-sm max-w-xs',
						size === 'lg' ? 'px-4 py-2' : 'px-1.5 py-px',
					]}>
					Oferta Especial
				</span>
				<div class:list={['flex flex-col', size === 'lg' ? 'gap-2' : 'gap-0']}>
					<div class:list={[size === 'lg' ? 'text-6xl' : 'text-xl']}>
						<span class="text-red mr-2 ">-{porcent.toFixed(0)}%</span>
						<span>
							<span
								class:list={['relative', size === 'lg' ? 'text-lg -top-7' : '-top-1.5 text-xs']}>
								S/
							</span>
							<span class="">{offert}</span>
							<span
								class:list={['relative', size === 'lg' ? 'text-lg -top-7' : '-top-1.5 text-xs']}>
								00
							</span>
						</span>
					</div>
					<div class:list={['text-muted-foreground', size === 'lg' ? 'text-lg' : 'text-xs']}>
						<span>Precio regular: </span>
						<span class="line-through ">{formatedPrice}</span>
					</div>
				</div>
			</>
		) : (
			<div class:list={['flex flex-col', size === 'lg' ? 'gap-2' : 'gap-0']}>
				<div class:list={[size === 'lg' ? 'text-6xl' : 'text-xl']}>
					<span>
						<span class:list={['relative', size === 'lg' ? 'text-lg -top-7' : '-top-1.5 text-xs']}>
							S/
						</span>
						<span class="">{price}</span>
						<span class:list={['relative', size === 'lg' ? 'text-lg -top-7' : '-top-1.5 text-xs']}>
							00
						</span>
					</span>
				</div>
			</div>
		)
	}
</>
