---
import ProductShareButton from '@/components/ProductShareButton.astro'
import Skeleton from '@/components/ui/Skeleton.astro'
import type { Product } from '@/types'

import ProductVideoDialog from '@/components/ProductVideoDialog.astro'

interface Props {
	assets: Product['assets']
	id: string
	title: string
}

const { assets, id, title } = Astro.props
const video = assets.find((asset) => asset.type === 'video')
---

<div class="image-view-wrap w-full md:w-full flex flex-col gap-4">
	{/* Main */}
	<div id="main-image" class="image-view--previewWrap relative rounded-lg overflow-hidden">
		<div class="absolute top-1 right-1 z-10">
			<ProductShareButton />
		</div>

		<div class="embla">
			<div class="embla__viewport">
				<div class="embla__container">
					{
						assets.map((asset) => {
							if (asset.type === 'video') return
							return (
								<div class="embla__slide">
									<div class="embla__spinner absolute inset-0 bg-gray-200  flex items-center justify-center">
										<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200" width="80">
											<>
												<circle
													fill="#888888"
													stroke="#888888"
													stroke-width="15"
													r="15"
													cx="40"
													cy="65">
													<animate
														attributeName="cy"
														calcMode="spline"
														dur="2"
														values="65;135;65;"
														keySplines=".5 0 .5 1;.5 0 .5 1"
														repeatCount="indefinite"
														begin="-.4"
													/>
												</circle>
												<circle
													fill="#888888"
													stroke="#888888"
													stroke-width="15"
													r="15"
													cx="100"
													cy="65">
													<animate
														attributeName="cy"
														calcMode="spline"
														dur="2"
														values="65;135;65;"
														keySplines=".5 0 .5 1;.5 0 .5 1"
														repeatCount="indefinite"
														begin="-.2"
													/>
												</circle>
												<circle
													fill="#888888"
													stroke="#888888"
													stroke-width="15"
													r="15"
													cx="160"
													cy="65">
													<animate
														attributeName="cy"
														calcMode="spline"
														dur="2"
														values="65;135;65;"
														keySplines=".5 0 .5 1;.5 0 .5 1"
														repeatCount="indefinite"
														begin="0"
													/>
												</circle>
											</>
										</svg>
									</div>
									<img
										transition:name={`product-image-${id}`}
										class="embla__img magnifier-image max-w-full max-h-full w-full h-full object-contain"
										src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs%3D"
										data-src={asset.mediumUrl}
										alt={title}
									/>
								</div>
							)
						})
					}
				</div>
			</div>
		</div>
	</div>

	{/* Thumbs */}
	<div class="embla-thumbs">
		<div class="embla-thumbs__viewport">
			<div class="embla-thumbs__container">
				{
					assets.map((asset, index) => {
						if (asset.type === 'video') {
							return
						}

						return (
							<div
								class="embla-thumbs__item"
								data-thumb-active={index === 0}
								data-large-url={asset.mediumUrl}>
								<img class="max-w-full max-h-full" src={asset.thumbUrl} />
							</div>
						)
					})
				}
			</div>
		</div>
	</div>

	<!-- Product Video -->
	{
		video && (
			<div class="flex justify-center">
				<ProductVideoDialog
					video={{
						url: video.url,
						title: title,
					}}
				/>
			</div>
		)
	}
</div>
<style>
	.embla {
		max-width: 48rem;
		margin: auto;
		--slide-height: 19rem;
		--slide-spacing: 1rem;
		--slide-size: 100%;
	}
	.embla__viewport {
		overflow: hidden;
	}
	.embla__container {
		display: flex;
		touch-action: pan-y pinch-zoom;
		margin-left: calc(var(--slide-spacing) * -1);
	}
	.embla__slide {
		transform: translate3d(0, 0, 0);
		flex: 0 0 var(--slide-size);
		min-width: 0;
		padding-left: var(--slide-spacing);
	}
	.embla__slide__number {
		box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
		border-radius: 1.8rem;
		font-size: 4rem;
		font-weight: 600;
		display: flex;
		align-items: center;
		justify-content: center;
		height: var(--slide-height);
		user-select: none;
	}
	.embla-thumbs {
		--thumbs-slide-spacing: 0.8rem;
		--thumbs-slide-height: 6rem;
		margin-top: var(--thumbs-slide-spacing);
	}
	.embla-thumbs__viewport {
		overflow: hidden;
	}
	.embla-thumbs__container {
		display: flex;
		flex-direction: row;
		/* gap: 0.5rem; */
		margin-left: calc(var(--thumbs-slide-spacing) * -1);
	}
	.embla-thumbs__slide {
		flex: 0 0 22%;
		min-width: 0;
		padding-left: var(--thumbs-slide-spacing);
	}
	@media (min-width: 576px) {
		.embla-thumbs__slide {
			flex: 0 0 15%;
		}
	}

	.embla-thumbs__item {
		width: 64px;
		height: 64px;
		margin-left: 0.5rem;
		/* border: 1px solid black; */
		border-radius: 0.25rem;
		overflow: hidden;
		opacity: 0.3;
		flex-shrink: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;

		&:hover {
			opacity: 1;
		}
	}
	.embla-thumbs__slide--selected {
		opacity: 1;
	}

	.embla__img {
		opacity: 0;
		transition: opacity 0.2s ease-in-out;
	}
	.embla__slide--has-loaded .embla__img {
		opacity: 1;
	}
</style>
<script>
	import EmblaCarousel, { type EmblaCarouselType, type EmblaOptionsType } from 'embla-carousel'

	const OPTIONS: EmblaOptionsType = {}
	const OPTIONS_THUMBS: EmblaOptionsType = {
		containScroll: 'keepSnaps',
		dragFree: true,
	}

	const viewportNodeMainCarousel = document.querySelector('.embla__viewport') as HTMLElement
	const viewportNodeThumbCarousel = document.querySelector('.embla-thumbs__viewport') as HTMLElement
	const emblaApiMain = EmblaCarousel(viewportNodeMainCarousel, OPTIONS)
	const emblaApiThumb = EmblaCarousel(viewportNodeThumbCarousel, OPTIONS_THUMBS)
	import { setupLazyloadImage } from './EmblaCarouselLazyLoad.js'

	export const addThumbBtnsClickHandlers = (
		emblaApiMain: EmblaCarouselType,
		emblaApiThumb: EmblaCarouselType
	) => {
		const slidesThumbs = emblaApiThumb.slideNodes()

		const scrollToIndex = slidesThumbs.map((_, index) => () => emblaApiMain.scrollTo(index))

		slidesThumbs.forEach((slideNode, index) => {
			slideNode.addEventListener('click', scrollToIndex[index], false)
		})

		return () => {
			slidesThumbs.forEach((slideNode, index) => {
				slideNode.removeEventListener('click', scrollToIndex[index], false)
			})
		}
	}

	export const addToggleThumbBtnsActive = (
		emblaApiMain: EmblaCarouselType,
		emblaApiThumb: EmblaCarouselType
	) => {
		const slidesThumbs = emblaApiThumb.slideNodes()

		const toggleThumbBtnsState = () => {
			emblaApiThumb.scrollTo(emblaApiMain.selectedScrollSnap())
			const previous = emblaApiMain.previousScrollSnap()
			const selected = emblaApiMain.selectedScrollSnap()
			slidesThumbs[previous].classList.remove('embla-thumbs__slide--selected')
			slidesThumbs[selected].classList.add('embla-thumbs__slide--selected')
		}

		emblaApiMain.on('select', toggleThumbBtnsState)
		emblaApiThumb.on('init', toggleThumbBtnsState)

		return () => {
			const selected = emblaApiMain.selectedScrollSnap()
			slidesThumbs[selected].classList.remove('embla-thumbs__slide--selected')
		}
	}

	const removeThumbBtnsClickHandlers = addThumbBtnsClickHandlers(emblaApiMain, emblaApiThumb)
	const removeToggleThumbBtnsActive = addToggleThumbBtnsActive(emblaApiMain, emblaApiThumb)

	const loadImageInview = setupLazyloadImage(emblaApiMain)

	emblaApiMain
		.on('init', loadImageInview)
		.on('reInit', loadImageInview)
		.on('slidesInView', loadImageInview)
		.on('destroy', removeThumbBtnsClickHandlers)
		.on('destroy', removeToggleThumbBtnsActive)

	emblaApiThumb
		.on('destroy', removeThumbBtnsClickHandlers)
		.on('destroy', removeToggleThumbBtnsActive)
</script>
