---
// import Icon from '@/components/Icon.astro'
import { Icon } from 'astro-icon/components'
const team = [
	{
		name: 'Raquel Maldonado. ',
		job: 'Gerente Ventas',
		image: '/assets/team/raquel-maldonado.webp',
		phone: '900224005',
	},

	{
		name: 'Jesus Saavedra',
		job: 'Asistente Ventas',
		image: 'https://img.freepik.com/premium-vector/cute-boy-avatar-illustration_637684-31.jpg',
		phone: '900224005',
	},

	{
		name: 'Milagros Saavedra.',
		job: 'Asistente Ventas',
		image:
			'https://img.freepik.com/vector-premium/cara-linda-chica-avatar-nina-retrato-ilustracion-plana-vectorial_192760-82.jpg?w=2000',
		phone: '900224005',
	},
]
---

<whatsapp-popup aria-expanded="false">
	<article
		data-state="closed"
		id="container"
		class="fixed z-40 right-2.5 bottom-2.5 flex items-center justify-center">
		<div
			class={`window fixed bottom-14 right-2 p-4 shadow-sm rounded-md 
bg-gradient-to-r from-primary to-secondary text-black
transition-transform translate-x-full invisible`}>
			<p class="mb-2 text-center">
				Contacte con nosotros vía <strong>WhatsApp</strong>
			</p>
			<div class="flex flex-col gap-2">
				{
					team.map((member) => {
						const whatsappLink = `https://wa.me/51${member.phone}?text=Hola ${member.name}, vengo de la pagina. Estoy interesando en:`

						return (
							<a
								class="flex bg-primary-foreground/20 items-center gap-4 p-2 hover:bg-white/40 hover:shadow-sm rounded-md cursor-pointer transition"
								href={whatsappLink}
								target="_blank">
								<img
									class="rounded-sm"
									alt="Foto de raquel Raquel Maldonado Ramirez"
									title="Raquel Maldonado Ramirez"
									width="60"
									height="80"
									class="rounded-sm"
									src={member.image}
								/>
								<div class="wap__texts flex-1">
									<div class="name text-sm">{member.name}</div>
									<div class="post text-xs font-bold">{member.job}</div>
									<div class="online text-xs">online</div>
								</div>
								<div class="whatsapp-wrap" />
							</a>
						)
					})
				}
			</div>
		</div>
		<button
			id="whatsapp-button"
			aria-label="contacto via whatsapp boton"
			class={`btn w-10 h-10 flex items-center justify-center rounded-full text-white
bg-gradient-to-r from-green to-cyan
transition-transform`}>
			<Icon
				name="tabler:brand-whatsapp"
				size={30}
			/>
			<Icon
				name="tabler:x"
				size={30}
			/>
		</button>
	</article>
</whatsapp-popup>

<script>
	class WhatsappPopup extends HTMLElement {
		window = this.querySelector('#whatsapp-window')!
		btn = this.querySelector('#whatsapp-button')!
		open: Boolean = false

		constructor() {
			super()
			this.btn.addEventListener('click', () => this.toggleExpanded())
		}

		setExpanded(expanded: boolean) {
			this.setAttribute('aria-expanded', String(expanded))
			const container = this.querySelector('#container')!
			container.setAttribute('data-state', expanded ? 'open' : 'closed')
		}

		toggleExpanded() {
			this.setExpanded(this.getAttribute('aria-expanded') !== 'true')
			this.open = !this.open
		}
	}

	customElements.define('whatsapp-popup', WhatsappPopup)
</script>
<style>
	[data-state='open'] .window {
		transform: translateX(0);
		visibility: visible;
	}

	[data-state='open'] [data-icon='tabler:brand-whatsapp'] {
		display: none;
	}

	[data-state='closed'] [data-icon='tabler:x'] {
		display: none;
	}

	[data-state='open'] button {
		transform: rotate(180deg);
	}
</style>
