---
// import Icon from '@/components/Icon.astro'
import { Icon } from 'astro-icon/components'
const team = [
	{
		name: 'Raquel Maldonado',
		job: 'Gerente Comercial',
		image: '/assets/team/raquel-maldonado.webp',
		phone: '900224005',
	},

	// {
	// 	name: 'Jesus Saavedra',
	// 	job: 'Asistente Ventas',
	// 	image: 'https://img.freepik.com/premium-vector/cute-boy-avatar-illustration_637684-31.jpg',
	// 	phone: '900224005',
	// },

	{
		name: 'Milagro Saavedra',
		job: 'Asistente Ventas',
		image:
			'https://img.freepik.com/vector-premium/cara-linda-chica-avatar-nina-retrato-ilustracion-plana-vectorial_192760-82.jpg?w=2000',
		phone: '900224005',
	},
]
---

<whatsapp-popup aria-expanded="false">
	<article
		data-state="closed"
		id="container"
		class="fixed z-40 right-2 bottom-2 flex items-center justify-center whatsapp-popup rounded-full bg-green-500">
		<div
			class={`window fixed bottom-18 right-2 p-4  rounded-md 
bg-background text-foreground border-shadow
transition-transform translate-x-full invisible `}>
			<p class="mb-2 text-center">
				Contacte con nosotros vía <strong>WhatsApp</strong>
			</p>
			<div class="flex flex-col gap-2">
				{
					team.map((member) => {
						const whatsappLink = `https://wa.me/51${member.phone}?text=Hola ${member.name.split(' ')[0]}, vengo de la pagina. Estoy interesando en:`

						return (
							<a
								class="flex items-center gap-4 p-2  rounded-md cursor-pointer transition border-shadow hover:translate-y-[3px] hover:translate-x-[2px] hover:bg-gray-200"
								href={whatsappLink}
								target="_blank">
								<div class="w-10 rounded-md overflow-hidden">
									<img
										class="object-cover w-full"
										alt="Foto de raquel Raquel Maldonado Ramirez"
										title="Raquel Maldonado Ramirez"
										width="60"
										height="80"
										src={member.image}
									/>
								</div>
								<div class="wap__texts flex-1">
									<div class="name text-sm">{member.name}</div>
									<div class="post text-xs font-bold">{member.job}</div>
									<div class="online text-xs">online</div>
								</div>
								<div class="whatsapp-wrap text-black">
									<Icon style="display:block" name="whatsapp" size={30} />
								</div>
							</a>
						)
					})
				}
			</div>
		</div>
		<button
			id="whatsapp-button"
			aria-label="contacto via whatsapp boton"
			class={'hover:scale-110 bg-background transition-transform duration-200 border-2 rounded-full p-2 shadow-[0_3px_0_0_currentColor] cursor-pointer'}>
			<Icon name="whatsapp" size={30} />
			<Icon name="tabler:x" size={30} />
		</button>
	</article>
</whatsapp-popup>

<script>
	class WhatsappPopup extends HTMLElement {
		window = this.querySelector('#whatsapp-window')!
		btn = this.querySelector('#whatsapp-button')!
		open: Boolean = false

		constructor() {
			super()
			this.btn.addEventListener('click', () => this.toggleExpanded())
		}

		setExpanded(expanded: boolean) {
			this.setAttribute('aria-expanded', String(expanded))
			const container = this.querySelector('#container')!
			container.setAttribute('data-state', expanded ? 'open' : 'closed')
		}
		toggleExpanded() {
			this.setExpanded(this.getAttribute('aria-expanded') !== 'true')
			this.open = !this.open
		}
	}

	customElements.define('whatsapp-popup', WhatsappPopup)
</script>
<style>
	.whatsapp-popup {
		animation:
			waves-whatsapp linear 3s infinite,
			scale-in 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	}
	#whatsapp-button {
		animation: shake-animation linear 1.5s infinite;
	}

	@keyframes shake-animation {
		0% {
			transform: rotate(0) scale(1) skew(0.017rad);
		}

		25% {
			transform: rotate(0) scale(1) skew(0.017rad);
		}

		35% {
			transform: rotate(-0.3rad) scale(1) skew(0.017rad);
		}

		45% {
			transform: rotate(0.3rad) scale(1) skew(0.017rad);
		}

		55% {
			transform: rotate(-0.3rad) scale(1) skew(0.017rad);
		}

		65% {
			transform: rotate(0.3rad) scale(1) skew(0.017rad);
		}

		75% {
			transform: rotate(0) scale(1) skew(0.017rad);
		}

		100% {
			transform: rotate(0) scale(1) skew(0.017rad);
		}
	}

	@keyframes waves-whatsapp {
		0% {
			box-shadow:
				0 8px 10px rgba(48, 191, 58, 0.3),
				0 0 0 0 rgba(48, 191, 58, 0.2),
				0 0 0 0 rgba(48, 191, 58, 0.2);
		}
		40% {
			box-shadow:
				0 8px 10px rgba(48, 191, 58, 0.3),
				0 0 0 35px rgba(48, 191, 58, 0.2),
				0 0 0 0 rgba(48, 191, 58, 0.2);
		}
		80% {
			box-shadow:
				0 8px 10px rgba(48, 191, 58, 0.3),
				0 0 0 55px rgba(48, 191, 58, 0),
				0 0 0 26.7px rgba(48, 191, 58, 0.067);
		}
		100% {
			box-shadow:
				0 8px 10px rgba(48, 191, 58, 0.3),
				0 0 0 80px rgba(48, 191, 58, 0),
				0 0 0 40px rgba(48, 191, 58, 0);
		}
	}
	[data-state='open'] .window {
		transform: translateX(-100%);
		visibility: visible;
	}

	[data-state='open'] button {
		box-shadow: 0 -3px 0 0 currentColor;
	}

	[data-state='open'] [data-icon='whatsapp'] {
		display: none;
	}

	[data-state='closed'] [data-icon='tabler:x'] {
		display: none;
	}

	[data-state='open'] button {
		transform: rotate(180deg);
	}
</style>
