---
import '@/styles/global.css'
import HeadSeo from '@/components/HeadSeo.astro'
import Footer from '@/components/Footer.astro'
import Header from '@/components/Header.astro'
import WhatsappPopup from '@/components/WhatsappPopup.astro'
import Container from '@/components/Container.astro'
import { site } from '@/config'
import ProductSearch from '@/components/ProductSearch.astro'
import ScrollTopButton from '@/components/ScrollTopButton.astro'

export interface Props {
	showSearchbar?: boolean
	title?: string
	description?: string
	image?: URL
	url?: URL
}

const {
	title = site.title,
	description = site.description,
	url = new URL(site.url),
	image = new URL(site.ogImage),
	showSearchbar,
} = Astro.props

const canonicalUrl = new URL(Astro.url.pathname, Astro.site)
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<!-- Favicon -->
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
		<link rel="manifest" href="/site.webmanifest" />
		<link rel="canonical" href={canonicalUrl} />
		<HeadSeo {title} {description} {image} {url} />
	</head>
	<body>
		<div class="page">
			<Header />
			<main class="relative mt-16 lg:mt-4 flex-1">
				<Container>
					<slot />
				</Container>
			</main>
			<ScrollTopButton />
			<WhatsappPopup />
			<Footer />
		</div>
		<style>
			.page {
				display: flex;
				position: relative;
				flex-direction: column;
				min-height: 100svh;
				z-index: 1;
			}
		</style>
	</body>
</html>
